	/KAGIA
	/apache
	apache_start.bat
	apache_stop.bat
	catalina_service.bat
        catalina_start.bat
        catalina_stop.bat
        /cgi-bin
        /contrib
        /install
        /licenses
        /locale
        mysql_start.bat
        mysql_stop.bat
        /passwords.txt
        /perl
        /php
        /phpMyAdmin
        readme_de.txt
        readme_en.txt
        /sendmail
        setup_xampp.bat
        skrypt.SQL
        skrypt2.SQL
        test_php.bat
        /tmp
        /tomcat
        /webdav
        xampp-control.exe
        xampp-control.ini
        xampp-control.log
        /xampp
        xampp_shell.bat
        xampp_start.exe
        xampp_stop.exe
