@use postcss-cssnext;
:root{
  --background-color: #001216;
  --button-background-color: #75172E;
  --button-text-color: #ffffff;
  --color-hover: #044F49;
  --background-color-footer: #03423D;
  --color-hue: #03332F;
}
html.dark{
  --background-color: #001216 !important;
  --button-background-color: #75172E;
  --button-text-color: #ffffff;
  --color-hover: #044F49;
  --background-color-footer: #03423D;
  --color-hue: #03332F;
}

html.white {
  --background-color: #F2A791 !important;
  --button-background-color: #8C1C38;
  --button-text-color: #000000;
  --color-hover: #BA504C;
  --background-color-footer: #AD4B47;
  --color-hue: #94403D;
}
body{
	background-color:var(--background-color);
}
.promocjaGier{
	background-color: #75172e;
	height: 100px;
	width: 600px;
	color: #ffffff;
	font-size: 30px;
	}

#h1{
	background-color:var(--color-hover);
	font-size:44px;
	width:100%;
	height:30%;
	text-align:center;
	float: left;
}
input,label{
	width:30%;
	font-size:16px;
}	
#content{
	width:100%;
	background-color:var(--background-color-footer);
	text-align:center;
	font-size:64px;
}
#footer{
	width:100%;
	
	background-color:var(--color-hue);
	text-align:right;
	font-size:24px;
}
h1{
	font-family: Verdana;
	color: white;
}	
a{
	
}