@use postcss-cssnext;
:root{
  --background-color: #001216;
  --button-background-color: #75172E;
  --button-text-color: #ffffff;
  --background-color-footer: #222222;
  --color-hover: #033834;
}
html.dark{
  --background-color: #001216 !important;
  --button-background-color: #75172E;
  --button-text-color: #ffffff;
  --background-color-footer: #222222;
  --color-hover: #033834;
}

html.white {
  --background-color: #F2A791 !important;
  --button-background-color: #8C1C38;
  --button-text-color: #000000;
  --background-color-footer: #B54E4A;
  --color-hover: #BF3913;
}
body
{
	background-color: var(--background-color) !important;
	color: var(--button-text-color);
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.wrapper
{
	width: 100%;
}

.header
{
	width:100%;
	padding: 40px 0;
}



.nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: var(--button-background-color);
	text-align: center;
	border-top: 1px solid var(--button-background-color);
	border-bottom: 1px solid var(--button-background-color);
}

.footer
{
	text-align: center;
	background-color: var(--background-color-footer);
	padding: 30px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
	
}

ol a
{
	color: var(--button-text-color);
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 250px;
	height: 40px;
}

ol > li:hover
{
	box-shadow: 0 5px 50px 0 #a14 inset, 0 5px 50px 0 #a14,
	0 5px 50px 0 #a14 inset, 0 5px 50px 0 #a14;
}

ol > li:hover > a
{
	color: var(--button-text-color);
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:var(--button-text-color);
	position: relative;
	z-index: 100;
	border-top: 1px dashed #000;
}

ol > li > ul > li:hover
{
	background-color: var(--color-hover);
}

ol > li > ul > li:hover > a
{
	color: var(--color-hover);
}
